[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/Siudya/rocket-chip
[submodule "xs-utils"]
	path = xs-utils
	url = https://github.com/Siudya/xs-utils.git
[submodule "AXItoTL"]
	path = AXItoTL
	url = https://github.com/Archer613/AXItoTL.git
[submodule "HuanCun"]
	path = HuanCun
	url = https://github.com/Siudya/HuanCun
